@import './utils/fonds';

@import './utils/variebles';

@import './base';

@import './utils/utils';

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

@import './components/buttons';

@import './components/links';

@import './components/header';

@import './components/hero-section';

@import './components/advantages-section';

@import './components/tradition-section';

@import './components/chefs-section';

@import './components/formats-section';

@import './components/carousel';

@import './components/contacts-section';

@import './components/footer';

@import './components/modal';

@import './components/form';
