.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand-normal);
}
.adventages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  color: var(--color-primary-dark);
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}
