.formats-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.formats-list {
  display: flex;
  gap: 20px;
}
.format-card {
  position: relative;
  height: 444px;
  width: 349px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border: 1px solid lightgreen; /* remove */
  border-radius: 16px;
}

.format-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-weight: 600;
  font-size: 24px;
}

.format-text {
  font-weight: 300;
  font-size: 14px;
}
