.section {
  padding: 48px 0;

  &__title {
    font-size: 64px;
    color: var(--color-primary-dark);
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;

    &--centered {
      text-align: center;
    }
  }
}
